.contenedor-productos{
    width: 90%;
    margin: 0 auto;
}

.mostrarProductos{
    margin-top: 4vh !important;
    background-color: black;
    color: white;
    margin: 0 auto 0 auto;
    border-radius: 4px;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
}

.dataProductos{
    margin-top: 4vh !important;
    margin: 0 auto 0 auto;
}

.tabla-productos{
    width: 100%;
}

.tabla-productos .titulo-operaciones{
    text-align: center;
}
.tabla-productos td{
    padding: 5px;
}

.operaciones{
    display: flex;
    justify-content: space-evenly;
}

.autocomplete{
    width: 100%;
}